# Ignore everything
*

# Ignore macOS system files
.DS_Store
**/.DS_Store

# But not these files...
!.gitignore
!README.md

# Don't ignore anything insde the dotfiles/ directory
!dotfiles/
!dotfiles/*
!create_secret_user/
!create_secret_user/*
!get_system_info/
!get_system_info/*

# But maaaaan, ignore these subdirectories
!ignored/

# Don't ignore the Module 9 Day 2
!Module 9 Day 2/
!Module 9 Day 2/*
