# Ignore everything
*

# But not these files...
!.gitignore
!README.md

# Don't ignore anything insde the dotfiles/ directory
!dotfiles/
!dotfiles/*

# But maaaaan, ignore these subdirectories
!ignored/
